.title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    color: #272D31;
    span {
        font-weight: 700;
    }
}
.link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: right;
    text-decoration-line: underline;
    color: #3E62AC;
}